{{- /*
Usage:
{{< bookmark "skaffold_dev" >}}
The name corresponds to the JSON file in _data/bookmarks (without .json)
*/ -}}

{{ $name := .Get 0 }}
{{ if not $name }}
{{ errorf "bookmark shortcode requires JSON filename (without extension)" }}
{{ end }}

{{ $bm := index .Site.Data.bookmarks $name }}
{{ if not $bm }}
{{ errorf "bookmark JSON '%s' not found in _data/bookmarks" $name }}
{{ end }}

<figure class="kg-card kg-bookmark-card">
    <a class="kg-bookmark-container" href="{{ $bm.url | safeURL }}">

        <div class="kg-bookmark-content">
            {{- if $bm.title -}}
            <div class="kg-bookmark-title">{{ $bm.title }}</div>
            {{- end -}}

            {{- if $bm.description -}}
            <div class="kg-bookmark-description">{{ $bm.description }}</div>
            {{- end -}}

            <div class="kg-bookmark-metadata">
                {{- if $bm.image -}}
                <img class="kg-bookmark-icon" src="{{ $bm.favicon | safeURL }}" alt>
                {{- end -}}

                {{- if $bm.site -}}
                <span class="kg-bookmark-author">{{ $bm.site }}</span>
                {{- end -}}

                {{- if $bm.publisher -}}
                <span class="kg-bookmark-publisher">{{ $bm.publisher }}</span>
                {{- end -}}
            </div>
        </div>

        {{- if $bm.image -}}
        <div class="kg-bookmark-thumbnail">
            <img src="{{ $bm.image | safeURL }}" alt>
        </div>
        {{- end -}}

    </a>
</figure>
