// I think some of the CSS in here is Duplicated with that in `main.scss`
.post-content > div {

    width: 100%;
}

.site-nav-right {
    flex: 0 1 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    height: 64px;
}

.site-nav-right .nav {
    position: relative;
    margin: 0;
}

.site-nav-right .nav a {
    white-space: nowrap;
}

.site-nav-right .nav a:before {
    display: none;
}

.site-nav-right .nav li:last-of-type a {
    margin-right: -12px;
}


.nav-home-title-active .nav {
    visibility: hidden;
    opacity: 0;
    transform: translateY(-175%);
}

.nav-home-title-active .nav-home-title {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.post-content img,
.post-content figure {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1.5rem auto;
}

.post-content figure {
    text-align: center;
}

//.post-content figcaption {
//    font-size: 0.9rem;
//    color: var(--midgrey);
//    margin-top: 0.5rem;
//}

.kg-callout-card, .kg-callout-card * {
    box-sizing: border-box;
}
.kg-callout-card {
    display: flex;
    padding: 1.2em 1.6em;
    border-radius: 3px;
    margin: 1em 0;
}

//Callouts
.kg-callout-card-grey { background: rgba(124, 139, 154, 0.13); }
.kg-callout-card-white { background: transparent; box-shadow: inset 0 0 0 1px rgba(124, 139, 154, 0.25); }
.kg-callout-card-blue { background: rgba(33, 172, 232, 0.12); }
.kg-callout-card-green { background: rgba(52, 183, 67, 0.12); }
.kg-callout-card-yellow { background: rgba(240, 165, 15, 0.13); }
.kg-callout-card-red { background: rgba(209, 46, 46, 0.11); }
.kg-callout-card-pink { background: rgba(225, 71, 174, 0.11); }
.kg-callout-card-purple { background: rgba(135, 85, 236, 0.12); }
.kg-callout-card-accent { background: var(--ghost-accent-color); color: #fff; }
.kg-callout-card.kg-callout-card-accent a {
    color: #fff;
    text-decoration: underline;
}
.kg-callout-card .kg-callout-emoji {
    padding-right: 0.8em;
    line-height: 1.25em;
    font-size: 1.15em;
}
.kg-callout-card .kg-callout-text {
    font-size: 0.95em;
    line-height: 1.5em;
}
//End call out

//Bookmark
//.kg-bookmark-card {
//    width: 100%
//}
//
//.kg-card+.kg-bookmark-card {
//    margin-top: 0
//}
//
//.post-full-content .kg-bookmark-container {
//    display: flex;
//    min-height: 148px;
//    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
//    border-radius: 3px
//}
//
//.post-full-content .kg-bookmark-container,
//.post-full-content .kg-bookmark-container:hover {
//    color: var(--darkgrey);
//    text-decoration: none;
//    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .09)
//}
//
//.kg-bookmark-content {
//    flex-grow: 1;
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    align-items: flex-start;
//    padding: 20px
//}
//
//.kg-bookmark-title {
//    color: #303a3e;
//    font-size: 1.6rem;
//    line-height: 1.5em;
//    font-weight: 600;
//    transition: color .2s ease-in-out
//}
//
//.post-full-content .kg-bookmark-container:hover .kg-bookmark-title {
//    color: var(--blue)
//}
//
//.kg-bookmark-description {
//    display: -webkit-box;
//    overflow-y: hidden;
//    margin-top: 12px;
//    max-height: 48px;
//    color: #5c7078;
//    font-size: 1.5rem;
//    line-height: 1.5em;
//    font-weight: 400;
//    -webkit-line-clamp: 2;
//    -webkit-box-orient: vertical
//}
//
//.kg-bookmark-thumbnail {
//    position: relative;
//    min-width: 33%;
//    max-height: 100%
//}
//
//.kg-bookmark-thumbnail img {
//    position: absolute;
//    top: 0;
//    left: 0;
//    width: 100%;
//    height: 100%;
//    border-radius: 0 3px 3px 0;
//    -o-object-fit: cover;
//    object-fit: cover
//}
//
//.kg-bookmark-metadata {
//    display: flex;
//    flex-wrap: wrap;
//    align-items: center;
//    margin-top: 14px;
//    color: #5c7078;
//    font-size: 1.5rem;
//    font-weight: 400
//}
//
//.post-full-content .kg-bookmark-icon {
//    margin-right: 8px;
//    width: 22px;
//    height: 22px
//}
//
//.kg-bookmark-author {
//    line-height: 1.5em
//}
//
//.kg-bookmark-author:after {
//    content: "•";
//    margin: 0 6px
//}
//
//.kg-bookmark-publisher {
//    overflow: hidden;
//    max-width: 240px;
//    line-height: 1.5em;
//    text-overflow: ellipsis;
//    white-space: nowrap
//}
//End bookmark

//Bookmark
//.kg-bookmark-card {
//    display: block;
//    margin: 20px 0;
//    text-decoration: none;
//}
//
//.kg-bookmark-container {
//    display: flex;
//    min-height: 148px;
//    border-radius: 3px;
//    text-decoration: none;
//    color: var(--darkgrey);
//    box-shadow: 0 2px 5px -1px rgba(0,0,0,.15), 0 0 1px rgba(0,0,0,.09);
//    transition: box-shadow .3s ease;
//}
//
//.kg-bookmark-container:hover {
//    box-shadow: 0 4px 10px -2px rgba(0,0,0,.2), 0 0 1px rgba(0,0,0,.1);
//}
//
//.kg-bookmark-thumbnail {
//    position: relative;
//    min-width: 33%;
//    max-height: 100%;
//}
//
//.kg-bookmark-thumbnail img {
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
//    border-radius: 0 3px 3px 0;
//}
//
//.kg-bookmark-content {
//    flex-grow: 1;
//    display: flex;
//    flex-direction: column;
//    justify-content: flex-start;
//    padding: 20px;
//}
//
//.kg-bookmark-title {
//    font-size: 1.6rem;
//    font-weight: 600;
//    margin: 0;
//    color: #303a3e;
//    transition: color .2s ease-in-out;
//}
//
//.kg-bookmark-container:hover .kg-bookmark-title {
//    color: var(--blue);
//}
//
//.kg-bookmark-description {
//    margin-top: 12px;
//    font-size: 1.5rem;
//    line-height: 1.5em;
//    color: #5c7078;
//    display: -webkit-box;
//    -webkit-line-clamp: 2;
//    -webkit-box-orient: vertical;
//    overflow: hidden;
//}
//
//.kg-bookmark-metadata {
//    display: flex;
//    flex-wrap: wrap;
//    align-items: center;
//    margin-top: 14px;
//    font-size: 1.5rem;
//    color: #5c7078;
//}
//
//.kg-bookmark-icon {
//    margin-right: 8px;
//    width: 22px;
//    height: 22px;
//}

//End bookmark


//Below somewhat works
//.kg-bookmark-card,
//.kg-bookmark-card * {
//    box-sizing: border-box;
//}
//
//.kg-bookmark-card a.kg-bookmark-container,
//.kg-bookmark-card a.kg-bookmark-container:hover {
//    display: flex;
//    text-decoration: none;
//    border-radius: 3px;
//    border: 1px solid rgba(124, 139, 154, 0.25);
//    overflow: hidden;
//    color: inherit;
//}
//
//.kg-bookmark-content {
//    display: flex;
//    flex-direction: column;
//    flex-grow: 1;
//    flex-basis: 100%;
//    align-items: flex-start;
//    justify-content: flex-start;
//    padding: 20px;
//    overflow: hidden;
//}
//
//.kg-bookmark-title {
//    font-size: 1.5rem;
//    line-height: 1.4em;
//    font-weight: 600;
//}
//
//.kg-bookmark-description {
//    display: -webkit-box;
//    font-size: 1.4rem;
//    line-height: 1.5em;
//    margin-top: 3px;
//    font-weight: 400;
//    max-height: 44px;
//    overflow-y: hidden;
//    opacity: 0.7;
//    -webkit-line-clamp: 2;
//    -webkit-box-orient: vertical;
//}
//
//.kg-bookmark-metadata {
//    display: flex;
//    align-items: center;
//    margin-top: 22px;
//    width: 100%;
//    font-size: 1.4rem;
//    font-weight: 500;
//    white-space: nowrap;
//}
//
//.kg-bookmark-metadata > :not(img) {
//    opacity: 0.7;
//}
//
//.kg-bookmark-icon {
//    width: 20px;
//    height: 20px;
//    margin-right: 6px;
//}
//
//.kg-bookmark-author {
//    display: inline;
//}
//
//.kg-bookmark-publisher {
//    text-overflow: ellipsis;
//    overflow: hidden;
//    max-width: 240px;
//    white-space: nowrap;
//    display: block;
//    line-height: 1.65em;
//}
//
//.kg-bookmark-thumbnail {
//    position: relative;
//    flex-grow: 1;
//    min-width: 33%;
//}
//
//.kg-bookmark-thumbnail img {
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
//    position: absolute;
//    top: 0;
//    left: 0;
//    border-radius: 0 2px 2px 0;
//}

 //BELOW WORKS!!
.kg-bookmark-card {
    width: 100%
}

.kg-card+.kg-bookmark-card {
    margin-top: 0
}

.post-full-content .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--darkgrey);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);

    /* Subtle border */
    border: 1px solid rgba(255, 255, 255, 0.3); /* semi-transparent white */
    box-sizing: border-box;
    transition: border 0.2s ease-in-out;
}

.post-full-content .kg-bookmark-container,
.post-full-content .kg-bookmark-container:hover {
    color: var(--darkgrey);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .15), 0 0 1px rgba(0, 0, 0, .09)
}

.kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px
}

.kg-bookmark-title {
    color: #303a3e;
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 600;
    transition: color .2s ease-in-out
}

.post-full-content .kg-bookmark-container:hover .kg-bookmark-title {
    color: #8ab4f8;
}

.kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: #5c7078;
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;
    -o-object-fit: cover;
    object-fit: cover
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: #5c7078;
    font-size: 1.5rem;
    font-weight: 400
}

.post-full-content .kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px
}

.kg-bookmark-author {
    line-height: 1.5em
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px
}

.kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap
}

//END WORKING

.post-full-content .kg-bookmark-container {
    display: flex;
    min-height: 148px;
    color: var(--darkgrey);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.post-full-content .kg-bookmark-container:hover {
    color: var(--darkgrey);
    text-decoration: none;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.09);
}

.kg-bookmark-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

.kg-bookmark-title {
    color: color-mod(var(--midgrey) l(-30%));
    font-size: 1.6rem;
    line-height: 1.5em;
    font-weight: 600;
    transition: color 0.2s ease-in-out;
}

.post-full-content .kg-bookmark-container:hover .kg-bookmark-title {
    color: #8ab4f8;
}

.kg-bookmark-description {
    display: -webkit-box;
    overflow-y: hidden;
    margin-top: 12px;
    max-height: 48px;
    color: color-mod(var(--midgrey) l(-10%));
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 400;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 3px 3px 0;

    object-fit: cover;
}

.kg-bookmark-metadata {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 14px;
    color: color-mod(var(--midgrey) l(-10%));
    font-size: 1.5rem;
    font-weight: 400;
}

.post-full-content .kg-bookmark-icon {
    margin-right: 8px;
    width: 22px;
    height: 22px;
}

.kg-bookmark-author {
    line-height: 1.5em;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 6px;
}

.kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

//.kg-bookmark-container {
//    border: 2px solid white;
//    border-radius: 8px;
//    padding: 8px;
//    display: block;
//}
